.flex {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.flex-column-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}