@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Permanent+Marker&display=swap');@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Permanent+Marker&display=swap');@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Allerta Stencil', sans-serif;
}

li {
    list-style: none;
    text-align: center;
    width: 150px;
}

a {
    text-decoration: none;
}

h1,
h2 {
    text-shadow: 2px 2px 0px #898999;
}

p {
    text-shadow: 1px 1px 0px #898999;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    color: #fff;
    text-decoration: #992ca3 underline overline;
    text-align: center;
}

.header {
    position: fixed;
    z-index: 20;
    width: 100vw;
    height: 100px;
    transition-duration: 500ms;
    background-color: rgba(0, 0, 0, 1);
    justify-content: center;
}

.navbar {
    width: 90%;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
}

footer {
    height: 25vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.cw {
    color: white;
}

.btn-colaboradores {
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    background-image: linear-gradient(to right bottom, #2c5ca3, #4557ab, #614eae, #7e41ab, #992ca3);
    color: white;
    width: 15vw;
    height: 60px;
    letter-spacing: 0.5px;
    align-items: center;
    justify-content: center;
}

#menu {
    align-items: center;
    justify-content: space-around;
}

#menu-logo {
    display: flex;    
}

.slider-image {
    width: 100%;
}


.titulo-nunito {
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    font-size: 2rem;
    letter-spacing: 4px;
}

#section-expo {
    display: flex;
    align-items: center;
    height: 600px;
    padding: 20px;
    background-image: linear-gradient(to left top, #0043aa, #0d41ab, #173eac, #203cac, #2739ad, #3036ad, #3833ad, #3f2fac, #482aaa, #5125a9, #591ea6, #6015a4);
}

.section-expo-1,
.section-expo-2 {
    width: 100%;
}

.section-expo-1>p {
    width: 90%;
    padding: 5%;
}

.section-expo-2 {
    display: flex;
}

.section-expo-2>img {
    width: 100%;
    border-radius: 20px;
    box-shadow: #050505 0px 0px 15px;
}

.paragraph-style-1 {
    text-align: justify;
    text-indent: 1.5cm;
    font-size: 1.2rem;
    color: aliceblue;
}

#section-barraca {
    background-image: linear-gradient(to left bottom, #002084, #40228e, #642396, #84239c, #a224a0, #be2195, #d52889, #e7367c, #ee5163, #eb6d51, #e28848, #d59f4c);
    width: 100%;
    box-shadow: #d52889 0px 0px 20px;
}

.section-barraca-1 {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    font-size: 1.3rem;
}

.section-barraca-1>p {
    text-indent: 1.5cm;
    text-align: justify;
    padding: 10px;
    color: #fff;
}

.container-flag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-flag {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
    margin: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    color: white;
    width: 10%;
}

.box-flag>p {
    text-shadow: none;
    font-size: 90%;
}

#section-expositores {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10%;
    display: flex;
    background-image: linear-gradient(to right top, #7ce7ad, #9ae19a, #b2da8d, #c6d385, #d7cb82, #e8be7d, #f6b180, #fea48b, #ff91a3, #ed88c6, #bd8ce7, #5f96fb);
    color: white;
    box-shadow: #ee5163 0px 0px 20px;
}

.section-expositores-1>h1 {
    margin-bottom: 5%;
    color: azure;
}

.section-expositores-1>p {
    font-size: 1.3rem;
    color: azure;
    text-align: justify;
    text-indent: 1.5cm;
}

.section-expositores-2>h2 {
    margin: 40px 0px 10px;
}

.box-expositores {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    height: 120px;
    font-size: 1.5rem;
    width: 25%;
    margin: 20px;
    border-width: 1px;
    border-color: white;
    border-radius: 100px;
    border-style: solid;
    cursor: pointer;
}

.box-colored {
    border-image: linear-gradient(to left top, #1100c7, #720098, #86006e, #86004d, #7b0037) 1;
    border-image-repeat: stretch;
    border-radius: 0px;
}

.box-expositores:hover {
    background-image: radial-gradient(circle, #7ce7ad, #89eab5, #95ecbc, #a1efc4, #adf1cb);
}

.desenvolvimento {
    color: white;
}

.mg {
    margin: 2.5% 0px;
}

.mg-t-100 {
    padding-top: 100px;
}

.line {
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, #1100c7, #720098, #86006e, #86004d, #7b0037);
    box-shadow: #002084 0px 0px 20px;
    border-radius: 100px;
}

.image-background {
    position: fixed;
    z-index: -1;
    top: -300px;
    width: 100%;
    margin-top: 100px;
}

.color-title {
    color: #7b0037;
}

.color-background-white {
    background-color: rgba(255, 255, 255, 0.5);
}

#section-comidas-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.section-comidas-item {
    display: flex;
    margin: 10px 0px;
    height: 350px;
}

.image-comidas-l {
    border-radius: 10px;
    margin-left: 20px;
}

.image-comidas-r {
    border-radius: 10px;
    margin-right: 20px;
}

.section-menu-alema {
    height: 100%;
    font-size: 2rem;
    border-radius: 10px;
    padding: 20px;
}

.italico-sm {
    font-style: italic;
    font-size: 1rem;
}

.nath {
    display: flex;
    height: 400px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    #section-expo {
        flex-direction: column;
        height: 100%;
    }

    .section-expo-1>h1 {
        text-align: center;
    }

    .section-expo-2>img {
        width: 90%;
        height: 90%;
    }

    .section-expo-2 {
        justify-content: center;
        margin-bottom: 25px;
    }
}

.titulo {
    font-family: 'Carter One', cursive;
    font-size: 3rem;
    color:whitesmoke;
    text-shadow: ghostwhite 2px 2px 5px;
    margin: 20px;
}

#section-barraca-alema {
    display: flex;
    margin: 40px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
    #section-expo {
        flex-direction: column;
        height: 100%;
    }
    
    .section-expo-1>h1 {
        text-align: center;
    }

    .section-expo-2>img {
        width: 90%;
        height: 90%;
    }

    .section-expo-2 {
        justify-content: center;
        margin-bottom: 25px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
    .container-flag {
        justify-content: center;
    }

    #section-expo {
        flex-direction: column;
        height: 100%;
    }

    .section-expo-1>p {
        margin-bottom: 30px;
    }

    .section-expo-1>h1 {
        text-align: center;
    }

    .section-expo-2 {
        justify-content: center;
        margin-bottom: 50px;
    }

    .section-expo-2>img {
        width: 90%;
        height: 90%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .section-expo-2>img {
        width: 95%;
        height: 350px;
    }
}

@media (min-width: 1600px) {

    #section-expo {
        height: 1000px;
    }

    .section-expo-2>img {
        width: 90%;
        width: 80%;
    }
}

@media (min-width: 2500px) {

    #section-expo,
    #section-barraca {
        height: 100vh;
    }

    .titulo-nunito {
        font-size: 15rem;
    }

    h2.titulo-nunito {
        font-size: 10rem;
    }

    .section-expo-1>p {
        font-size: 4rem;
    }

    .section-expo-2>img {
        width: 100%;
        height: 100%;
    }

    .section-barraca-1>p {
        font-size: 3rem;
    }

    .section-expositores-1>p {
        font-size: 2.5rem;
        margin-bottom: 5%;
    }

    .box-expositores {
        font-size: 2.5rem;
        border-width: 5px;
    }
}